
    <div class="grid-container">

      <div class="grid-item item1">
       <p id="nasdaq">Nasdaq</p>
        <div id="searchbar">
          <!-- (change)="selectCompany($event)" -->
          <input (change)="selectCompany($event)" type="search" placeholder="Type here to search" >
        </div>
        <div id="companies">
          <ul >
            <li *ngFor="let company of [1,2,3,4,5]">Svstr</li>
          </ul>
        </div>
      </div>
      
       <div class="grid-item item2">
        <div>
          <img src="../assets/calendar3.png">
          <input id="date" type="date" (change)="setStartDate($event)">
          <input id="date" type="date"(change)="setEndDate($event)" >
        </div>

        <select (change)="selectPrice($event)" name="closing-price" id="closing-price">
          <option value="4">closing price</option>
          <option value="10">Adj closing price</option>
        </select> 
        
        <canvas id="canvas">{{chart}}</canvas>
  
       </div>

   
  

   
 
   








   
   
    

   
