
    <div class="grid-container">

      <div class="grid-item item1">
       <p id="nasdaq">Nasdaq</p>
        <div id="searchbar">
          <!-- (change)="selectCompany($event)" -->
          <input (change)="selectCompany($event)" type="search" placeholder="Type here to search" >
        </div>
        <div id="companies">
          <ul >
            <li *ngFor="let company of [1,2,3,4,5]">Svstr</li>
          </ul>
        </div>
      </div>
      
       <div class="grid-item item2">
        <div class="">
          <div class="">
            <select (change)="selectPrice($event)" name="closing-price" id="closing-price">
              <option value="4">Closing Price</option>
              <option value="10">Adj closing price</option>
            </select> 
          </div>
          <div class = "inner-grid-item">
            <!-- <img src="../assets/calendar3.png" class="image"> -->
            <input id="date" type="date" (change)="setStartDate($event)">
            <input id="date" type="date"(change)="setEndDate($event)" >
          </div>
        </div>
       
        <div class="not-loading" >
          <canvas id="canvas" >{{chart}}</canvas>
        </div>
        <div class="loading"*ngIf="loading">
          Loading...please wait
        </div>
  
       </div>

   
  

   
 
   








   
   
    

   
