.grid-container {
  padding: 20px;
  position: relative;
  display: grid;
  background: #ffffff;
  font-family: Poppins;
}
.grid-item {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
.item1 {
  grid-column: 1;
  grid-row: 1;

  background: #f7f8fd;
}

.item2 {
  width: auto;
  grid-column: 3;
  grid-row: 1 / span 2;
}
#closing-price {
  background: #51459e;
  border-radius: 5px;
  padding: 7px;
  color: #ffffff;
  border: 0;
  font-weight: 500;
  left:0;
}
#date {
  background: #51459e;
  border-radius: 5px;
  font-weight: 400;
  color: #ffffff;
  padding: 7px;
  border: 0;
  margin: 4px;
}
#canvas {
  background-color: #ffffff;
}
#nasdaq {
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #51459e;
}
#searchbar {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
#companies {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.inner-grid {
  display: grid;
  padding: 10px;
}
.inner-grid-item {
  grid-column: 1 / span 3;
  grid-row: 1;
  left: 0;
}
.loading {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 100;
  color: grey;
}
